<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "/assets/foto.jpg" %>
	</div>

	<div id="content">
		<h1>Hola a todos</h1>
		<p>Bienvenidos a mi blog personal</p>
		<p>Aquí mostraré información de algunos sitios para viajar en Guanajuato México</p>
		<p>Si quieres saber de algunos de mis viajes puedes verlos en mi perfil de Instagram
      <a href="http://instagram.com/luisguitrejo">luisguitrejo</a> o checa mi perfil de Facebook
      <a href="http://facebook.com">luisguitrejo</a>, donde pongo algunas cosas nuevas.</p>
	</div>
</div>